I. Querying the SQL database

II. Calculating summary statistics (team wins and losses; total number of goals scored) + histogram of each team's wins and losses

III. Getting the weather data from the DarkSky API + calculating the team's win percentage on days when it was raining

IV. Loading the data into MongoDB

I. SQL database

In [71]:
import pandas as pd

import seaborn as sns

import sqlite3 

conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

Inspecting the first table, 'matches'

In [2]:
cur.execute("""SELECT * 
                FROM Matches;""")

df1 = pd.DataFrame(cur.fetchall())

df1.columns = [x[0] for x in cur.description]
df1.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A

Table: Matches Match_ID (int): unique ID per match Div (str): identifies the division the match was played in (D1 = Bundesliga, D2 = Bundesliga 2, E0 = English Premier League) Season (int): Season the match took place in (usually covering the period of August till May of the following year) Date (str): Date of the match HomeTeam (str): Name of the home team AwayTeam (str): Name of the away team FTHG (int) (Full Time Home Goals): Number of goals scored by the home team FTAG (int) (Full Time Away Goals): Number of goals scored by the away team FTR (str) (Full Time Result): 3-way result of the match (H = Home Win, D = Draw, A = Away Win)

Selecting all the information from the matches table during the 2011 season for teams in the Bundesliga only

In [3]:
cur.execute("""SELECT * 
                FROM Matches
                WHERE season = '2011' AND Div != 'E0';""")

df2 = pd.DataFrame(cur.fetchall())

df2.columns = [x[0] for x in cur.description]
df2.head()

   Match_ID Div  Season        Date   HomeTeam       AwayTeam  FTHG  FTAG FTR
0      1092  D1    2011  2012-03-31   Nurnberg  Bayern Munich     0     1   A
1      1093  D1    2011  2011-12-11  Stuttgart  Bayern Munich     1     2   A
2      1094  D1    2011  2011-08-13  Wolfsburg  Bayern Munich     0     1   A
3      1095  D1    2011  2011-11-27      Mainz  Bayern Munich     3     2   H
4      1096  D1    2011  2012-02-18   Freiburg  Bayern Munich     0     0   D

Selecting individual dates from which to extract weather information based on dates on which bundesliga teams played.

In [4]:
cur.execute("""SELECT DISTINCT Date
                FROM Matches
                WHERE Season = '2011' AND Div != 'E0'
                ORDER BY Date ASC;""")

dates = pd.DataFrame(cur.fetchall())

dates.columns = [x[0] for x in cur.description]
dates.head()

         Date
0  2011-07-15
1  2011-07-16
2  2011-07-17
3  2011-07-18
4  2011-07-22

Selecting relevant data (match_ID, season, date of match, home team, away team, home team goals, away team goals and information about the match) from the matches table during the 2011 season for the bundesliga.

In [5]:
cur.execute("""SELECT Match_ID, Div, Season, Date, HomeTeam, AwayTeam, FTHG, FTAG, FTR
            FROM Matches
            WHERE season = '2011' AND Div != 'E0';""")

df3 = pd.DataFrame(cur.fetchall())

df3.columns = [x[0] for x in cur.description]
df3.head()

   Match_ID Div  Season        Date   HomeTeam       AwayTeam  FTHG  FTAG FTR
0      1092  D1    2011  2012-03-31   Nurnberg  Bayern Munich     0     1   A
1      1093  D1    2011  2011-12-11  Stuttgart  Bayern Munich     1     2   A
2      1094  D1    2011  2011-08-13  Wolfsburg  Bayern Munich     0     1   A
3      1095  D1    2011  2011-11-27      Mainz  Bayern Munich     3     2   H
4      1096  D1    2011  2012-02-18   Freiburg  Bayern Munich     0     0   D

Focus: team wins and losses

Investigating the number of matches where the home team won.

In [6]:
cur.execute("""SELECT DISTINCT HomeTeam, Match_ID, Div, Season, Date, FTHG, FTR
            FROM Matches
            WHERE season = '2011' AND FTR = 'H' AND Div != 'E0'
            GROUP BY HomeTeam;""")

home_wins = pd.DataFrame(cur.fetchall())

home_wins.columns = [x[0] for x in cur.description]
home_wins.head()

        HomeTeam  Match_ID Div  Season        Date  FTHG FTR
0         Aachen      1247  D2    2011  2012-04-29     1   H
1       Augsburg      1189  D1    2011  2012-03-31     2   H
2  Bayern Munich      1178  D1    2011  2011-12-16     3   H
3         Bochum      1154  D2    2011  2011-09-25     2   H
4   Braunschweig      1347  D2    2011  2011-11-27     4   H

Checking the number of wins for the home team in 2011

In [7]:
cur.execute("""SELECT HomeTeam as HOMETEAM, COUNT(FTR) as home_wins
            FROM Matches
            WHERE season = '2011' AND FTR = 'H' AND Div != 'E0'
            GROUP BY HomeTeam;""")

home_wins = pd.DataFrame(cur.fetchall())

home_wins.columns = [x[0] for x in cur.description]
home_wins

              HOMETEAM  home_wins
0               Aachen          4
1             Augsburg          6
2        Bayern Munich         14
3               Bochum          7
4         Braunschweig          6
5              Cottbus          4
6             Dortmund         14
7              Dresden          8
8             Duisburg          8
9        Ein Frankfurt         11
10      Erzgebirge Aue          5
11             FC Koln          5
12  Fortuna Dusseldorf         11
13       Frankfurt FSV          3
14            Freiburg          6
15      Greuther Furth         14
16             Hamburg          3
17            Hannover         10
18       Hansa Rostock          3
19              Hertha          4
20          Hoffenheim          4
21          Ingolstadt          6
22      Kaiserslautern          2
23           Karlsruhe          8
24          Leverkusen          8
25          M'gladbach          9
26               Mainz          7
27         Munich 1860         10
28            Nurnberg          6
29           Paderborn          9
30          Schalke 04         13
31            St Pauli         12
32           Stuttgart         10
33        Union Berlin         11
34       Werder Bremen          8
35           Wolfsburg         10

Checking the number of losses for the home team in 2011

In [8]:
cur.execute("""SELECT HomeTeam as hometeam, COUNT(FTR) as home_losses
            FROM Matches
            WHERE season = '2011' AND FTR = 'A' AND Div != 'E0'
            GROUP BY HomeTeam;""")

home_losses = pd.DataFrame(cur.fetchall())

home_losses.columns = [x[0] for x in cur.description]
home_losses

              hometeam  home_losses
0               Aachen            7
1             Augsburg            4
2        Bayern Munich            2
3               Bochum            7
4         Braunschweig            3
5              Cottbus            5
6             Dortmund            1
7              Dresden            4
8             Duisburg            7
9        Ein Frankfurt            1
10      Erzgebirge Aue            5
11             FC Koln            8
12  Fortuna Dusseldorf            1
13       Frankfurt FSV            4
14            Freiburg            5
15      Greuther Furth            2
16             Hamburg            7
17       Hansa Rostock            7
18              Hertha           10
19          Hoffenheim            4
20          Ingolstadt            3
21      Kaiserslautern           10
22           Karlsruhe            6
23          Leverkusen            5
24          M'gladbach            1
25               Mainz            7
26         Munich 1860            5
27            Nurnberg            7
28           Paderborn            2
29          Schalke 04            3
30            St Pauli            2
31           Stuttgart            4
32        Union Berlin            4
33       Werder Bremen            5
34           Wolfsburg            5

There is one row missing in the home_losses table: Hannover does not appear in it. This means Hannover did not suffer any losses when it played as a home team. 

We can amend the home_wins query, remove the entry for Hannover, and then reinsert the data from Hannover after we have merged the two tables for home team wins and home team losses.

In [9]:
cur.execute("""SELECT HomeTeam as HOMETEAM, COUNT(FTR) as home_wins
            FROM Matches
            WHERE season = '2011' AND FTR = 'H' AND Div != 'E0' AND HomeTeam != 'Hannover'
            GROUP BY HomeTeam;""")

home_wins2 = pd.DataFrame(cur.fetchall())

home_wins2.columns = [x[0] for x in cur.description]
home_wins2

              HOMETEAM  home_wins
0               Aachen          4
1             Augsburg          6
2        Bayern Munich         14
3               Bochum          7
4         Braunschweig          6
5              Cottbus          4
6             Dortmund         14
7              Dresden          8
8             Duisburg          8
9        Ein Frankfurt         11
10      Erzgebirge Aue          5
11             FC Koln          5
12  Fortuna Dusseldorf         11
13       Frankfurt FSV          3
14            Freiburg          6
15      Greuther Furth         14
16             Hamburg          3
17       Hansa Rostock          3
18              Hertha          4
19          Hoffenheim          4
20          Ingolstadt          6
21      Kaiserslautern          2
22           Karlsruhe          8
23          Leverkusen          8
24          M'gladbach          9
25               Mainz          7
26         Munich 1860         10
27            Nurnberg          6
28           Paderborn          9
29          Schalke 04         13
30            St Pauli         12
31           Stuttgart         10
32        Union Berlin         11
33       Werder Bremen          8
34           Wolfsburg         10

In [10]:
home_wins_losses = pd.concat([home_wins2,home_losses], axis = 1)

In [11]:
home_wins_losses

              HOMETEAM  home_wins            hometeam  home_losses
0               Aachen          4              Aachen            7
1             Augsburg          6            Augsburg            4
2        Bayern Munich         14       Bayern Munich            2
3               Bochum          7              Bochum            7
4         Braunschweig          6        Braunschweig            3
5              Cottbus          4             Cottbus            5
6             Dortmund         14            Dortmund            1
7              Dresden          8             Dresden            4
8             Duisburg          8            Duisburg            7
9        Ein Frankfurt         11       Ein Frankfurt            1
10      Erzgebirge Aue          5      Erzgebirge Aue            5
11             FC Koln          5             FC Koln            8
12  Fortuna Dusseldorf         11  Fortuna Dusseldorf            1
13       Frankfurt FSV          3       Frankfurt FSV            4
14            Freiburg          6            Freiburg            5
15      Greuther Furth         14      Greuther Furth            2
16             Hamburg          3             Hamburg            7
17       Hansa Rostock          3       Hansa Rostock            7
18              Hertha          4              Hertha           10
19          Hoffenheim          4          Hoffenheim            4
20          Ingolstadt          6          Ingolstadt            3
21      Kaiserslautern          2      Kaiserslautern           10
22           Karlsruhe          8           Karlsruhe            6
23          Leverkusen          8          Leverkusen            5
24          M'gladbach          9          M'gladbach            1
25               Mainz          7               Mainz            7
26         Munich 1860         10         Munich 1860            5
27            Nurnberg          6            Nurnberg            7
28           Paderborn          9           Paderborn            2
29          Schalke 04         13          Schalke 04            3
30            St Pauli         12            St Pauli            2
31           Stuttgart         10           Stuttgart            4
32        Union Berlin         11        Union Berlin            4
33       Werder Bremen          8       Werder Bremen            5
34           Wolfsburg         10           Wolfsburg            5

In [12]:
Hannover = pd.DataFrame({"HOMETEAM":['Hannover'], 
                    "home_wins":[10], "hometeam":['Hannover'], "home_losses":[0]})

In [13]:
Home_Wins_Losses = home_wins_losses.append(Hannover, ignore_index = True)

Checking the number of wins for the away teams in 2011

In [14]:
cur.execute("""SELECT AwayTeam as AWAYTEAM, COUNT(FTR) as away_wins
            FROM Matches
            WHERE season = '2011' AND FTR = 'A' AND Div != 'E0'
            GROUP BY AwayTeam;""")

away_wins = pd.DataFrame(cur.fetchall())

away_wins.columns = [x[0] for x in cur.description]
away_wins

              AWAYTEAM  away_wins
0               Aachen          2
1             Augsburg          2
2        Bayern Munich          9
3               Bochum          3
4         Braunschweig          4
5              Cottbus          4
6             Dortmund         11
7              Dresden          4
8             Duisburg          2
9        Ein Frankfurt          9
10      Erzgebirge Aue          3
11             FC Koln          3
12  Fortuna Dusseldorf          5
13       Frankfurt FSV          4
14            Freiburg          4
15      Greuther Furth          6
16             Hamburg          5
17            Hannover          2
18       Hansa Rostock          2
19              Hertha          3
20          Hoffenheim          6
21          Ingolstadt          2
22      Kaiserslautern          2
23           Karlsruhe          1
24          Leverkusen          7
25          M'gladbach          8
26               Mainz          2
27         Munich 1860          7
28            Nurnberg          6
29           Paderborn          8
30          Schalke 04          7
31            St Pauli          6
32           Stuttgart          5
33        Union Berlin          3
34       Werder Bremen          3
35           Wolfsburg          3

In [15]:
cur.execute("""SELECT AwayTeam as awayteam, COUNT(FTR) as away_losses
            FROM Matches
            WHERE season = '2011' AND FTR = 'H' AND Div != 'E0'
            GROUP BY AwayTeam;""")

away_losses = pd.DataFrame(cur.fetchall())

away_losses.columns = [x[0] for x in cur.description]
away_losses

              awayteam  away_losses
0               Aachen            8
1             Augsburg            8
2        Bayern Munich            5
3               Bochum           10
4         Braunschweig            6
5              Cottbus           10
6             Dortmund            2
7              Dresden            9
8             Duisburg            8
9        Ein Frankfurt            5
10      Erzgebirge Aue           10
11             FC Koln           12
12  Fortuna Dusseldorf            3
13       Frankfurt FSV            9
14            Freiburg            9
15      Greuther Furth            2
16             Hamburg            7
17            Hannover           10
18       Hansa Rostock           10
19              Hertha            7
20          Hoffenheim            9
21          Ingolstadt           10
22      Kaiserslautern            9
23           Karlsruhe           13
24          Leverkusen            5
25          M'gladbach            7
26               Mainz            6
27         Munich 1860            6
28            Nurnberg            9
29           Paderborn            5
30          Schalke 04            7
31            St Pauli            6
32           Stuttgart            7
33        Union Berlin           10
34       Werder Bremen            9
35           Wolfsburg           11

In order for our data sets to match, we must delete the entries from Hannover above and append them to our new dataframe.

In [16]:
cur.execute("""SELECT AwayTeam as AWAYTEAM, COUNT(FTR) as away_wins
            FROM Matches
            WHERE season = '2011' AND FTR = 'A' AND Div != 'E0' AND AwayTeam != 'Hannover'
            GROUP BY AwayTeam;""")

away_wins2 = pd.DataFrame(cur.fetchall())

away_wins2.columns = [x[0] for x in cur.description]
away_wins2

              AWAYTEAM  away_wins
0               Aachen          2
1             Augsburg          2
2        Bayern Munich          9
3               Bochum          3
4         Braunschweig          4
5              Cottbus          4
6             Dortmund         11
7              Dresden          4
8             Duisburg          2
9        Ein Frankfurt          9
10      Erzgebirge Aue          3
11             FC Koln          3
12  Fortuna Dusseldorf          5
13       Frankfurt FSV          4
14            Freiburg          4
15      Greuther Furth          6
16             Hamburg          5
17       Hansa Rostock          2
18              Hertha          3
19          Hoffenheim          6
20          Ingolstadt          2
21      Kaiserslautern          2
22           Karlsruhe          1
23          Leverkusen          7
24          M'gladbach          8
25               Mainz          2
26         Munich 1860          7
27            Nurnberg          6
28           Paderborn          8
29          Schalke 04          7
30            St Pauli          6
31           Stuttgart          5
32        Union Berlin          3
33       Werder Bremen          3
34           Wolfsburg          3

In [17]:
cur.execute("""SELECT AwayTeam as awayteam, COUNT(FTR) as away_losses
            FROM Matches
            WHERE season = '2011' AND FTR = 'H' AND Div != 'E0' AND awayteam != 'Hannover'
            GROUP BY AwayTeam;""")

away_losses2 = pd.DataFrame(cur.fetchall())

away_losses2.columns = [x[0] for x in cur.description]
away_losses2

              awayteam  away_losses
0               Aachen            8
1             Augsburg            8
2        Bayern Munich            5
3               Bochum           10
4         Braunschweig            6
5              Cottbus           10
6             Dortmund            2
7              Dresden            9
8             Duisburg            8
9        Ein Frankfurt            5
10      Erzgebirge Aue           10
11             FC Koln           12
12  Fortuna Dusseldorf            3
13       Frankfurt FSV            9
14            Freiburg            9
15      Greuther Furth            2
16             Hamburg            7
17       Hansa Rostock           10
18              Hertha            7
19          Hoffenheim            9
20          Ingolstadt           10
21      Kaiserslautern            9
22           Karlsruhe           13
23          Leverkusen            5
24          M'gladbach            7
25               Mainz            6
26         Munich 1860            6
27            Nurnberg            9
28           Paderborn            5
29          Schalke 04            7
30            St Pauli            6
31           Stuttgart            7
32        Union Berlin           10
33       Werder Bremen            9
34           Wolfsburg           11

In [18]:
away_wins_losses = pd.concat([away_wins2,away_losses2], axis = 1)

In [19]:
away_wins_losses

              AWAYTEAM  away_wins            awayteam  away_losses
0               Aachen          2              Aachen            8
1             Augsburg          2            Augsburg            8
2        Bayern Munich          9       Bayern Munich            5
3               Bochum          3              Bochum           10
4         Braunschweig          4        Braunschweig            6
5              Cottbus          4             Cottbus           10
6             Dortmund         11            Dortmund            2
7              Dresden          4             Dresden            9
8             Duisburg          2            Duisburg            8
9        Ein Frankfurt          9       Ein Frankfurt            5
10      Erzgebirge Aue          3      Erzgebirge Aue           10
11             FC Koln          3             FC Koln           12
12  Fortuna Dusseldorf          5  Fortuna Dusseldorf            3
13       Frankfurt FSV          4       Frankfurt FSV            9
14            Freiburg          4            Freiburg            9
15      Greuther Furth          6      Greuther Furth            2
16             Hamburg          5             Hamburg            7
17       Hansa Rostock          2       Hansa Rostock           10
18              Hertha          3              Hertha            7
19          Hoffenheim          6          Hoffenheim            9
20          Ingolstadt          2          Ingolstadt           10
21      Kaiserslautern          2      Kaiserslautern            9
22           Karlsruhe          1           Karlsruhe           13
23          Leverkusen          7          Leverkusen            5
24          M'gladbach          8          M'gladbach            7
25               Mainz          2               Mainz            6
26         Munich 1860          7         Munich 1860            6
27            Nurnberg          6            Nurnberg            9
28           Paderborn          8           Paderborn            5
29          Schalke 04          7          Schalke 04            7
30            St Pauli          6            St Pauli            6
31           Stuttgart          5           Stuttgart            7
32        Union Berlin          3        Union Berlin           10
33       Werder Bremen          3       Werder Bremen            9
34           Wolfsburg          3           Wolfsburg           11

In [20]:
Hannover = pd.DataFrame({"AWAYTEAM":['Hannover'], 
                    "away_wins":[2], "awayteam":['Hannover'], "away_losses":[10]})

In [21]:
Away_Wins_Losses = away_wins_losses.append(Hannover, ignore_index = True)

In [22]:
total_wins_losses = pd.concat([Home_Wins_Losses,Away_Wins_Losses], axis = 1)

In [23]:
total_wins_losses

,HOMETEAM,home_wins,hometeam,home_losses,AWAYTEAM,away_wins,awayteam,away_losses
0,Aachen,4,Aachen,7,Aachen,2,Aachen,8
1,Augsburg,6,Augsburg,4,Augsburg,2,Augsburg,8
2,Bayern Munich,14,Bayern Munich,2,Bayern Munich,9,Bayern Munich,5
3,Bochum,7,Bochum,7,Bochum,3,Bochum,10
4,Braunschweig,6,Braunschweig,3,Braunschweig,4,Braunschweig,6
5,Cottbus,4,Cottbus,5,Cottbus,4,Cottbus,10
6,Dortmund,14,Dortmund,1,Dortmund,11,Dortmund,2
7,Dresden,8,Dresden,4,Dresden,4,Dresden,9
8,Duisburg,8,Duisburg,7,Duisburg,2,Duisburg,8
9,Ein Frankfurt,11,Ein Frankfurt,1,Ein Frankfurt,9,Ein Frankfurt,5
10,Erzgebirge Aue,5,Erzgebirge Aue,5,Erzgebirge Aue,3,Erzgebirge Aue,10
11,FC Koln,5,FC Koln,8,FC Koln,3,FC Koln,12
12,Fortuna Dusseldorf,11,Fortuna Dusseldorf,1,Fortuna Dusseldorf,5,Fortuna Dusseldorf,3
13,Frankfurt FSV,3,Frankfurt FSV,4,Frankfurt FSV,4,Frankfurt FSV,9
14,Freiburg,6,Freiburg,5,Freiburg,4,Freiburg,9
15,Greuther Furth,14,Greuther Furth,2,Greuther Furth,6,Greuther Furth,2
16,Hamburg,3,Hamburg,7,Hamburg,5,Hamburg,7
17,Hansa Rostock,3,Hansa Rostock,7,Hansa Rostock,2,Hansa Rostock,10
18,Hertha,4,Hertha,10,Hertha,3,Hertha,7
19,Hoffenheim,4,Hoffenheim,4,Hoffenheim,6,Hoffenheim,9
20,Ingolstadt,6,Ingolstadt,3,Ingolstadt,2,Ingolstadt,10
21,Kaiserslautern,2,Kaiserslautern,10,Kaiserslautern,2,Kaiserslautern,9
22,Karlsruhe,8,Karlsruhe,6,Karlsruhe,1,Karlsruhe,13
23,Leverkusen,8,Leverkusen,5,Leverkusen,7,Leverkusen,5
24,M'gladbach,9,M'gladbach,1,M'gladbach,8,M'gladbach,7
25,Mainz,7,Mainz,7,Mainz,2,Mainz,6
26,Munich 1860,10,Munich 1860,5,Munich 1860,7,Munich 1860,6
27,Nurnberg,6,Nurnberg,7,Nurnberg,6,Nurnberg,9
28,Paderborn,9,Paderborn,2,Paderborn,8,Paderborn,5
29,Schalke 04,13,Schalke 04,3,Schalke 04,7,Schalke 04,7
30,St Pauli,12,St Pauli,2,St Pauli,6,St Pauli,6
31,Stuttgart,10,Stuttgart,4,Stuttgart,5,Stuttgart,7
32,Union Berlin,11,Union Berlin,4,Union Berlin,3,Union Berlin,10
33,Werder Bremen,8,Werder Bremen,5,Werder Bremen,3,Werder Bremen,9
34,Wolfsburg,10,Wolfsburg,5,Wolfsburg,3,Wolfsburg,11
35,Hannover,10,Hannover,0,Hannover,2,Hannover,10

In [28]:
total_wins_losses['total_wins_overall'] = total_wins_losses['home_wins'] + total_wins_losses['away_wins']

In [29]:
total_wins_losses

,HOMETEAM,home_wins,hometeam,home_losses,AWAYTEAM,away_wins,awayteam,away_losses,total_wins_overall
0,Aachen,4,Aachen,7,Aachen,2,Aachen,8,6
1,Augsburg,6,Augsburg,4,Augsburg,2,Augsburg,8,8
2,Bayern Munich,14,Bayern Munich,2,Bayern Munich,9,Bayern Munich,5,23
3,Bochum,7,Bochum,7,Bochum,3,Bochum,10,10
4,Braunschweig,6,Braunschweig,3,Braunschweig,4,Braunschweig,6,10
5,Cottbus,4,Cottbus,5,Cottbus,4,Cottbus,10,8
6,Dortmund,14,Dortmund,1,Dortmund,11,Dortmund,2,25
7,Dresden,8,Dresden,4,Dresden,4,Dresden,9,12
8,Duisburg,8,Duisburg,7,Duisburg,2,Duisburg,8,10
9,Ein Frankfurt,11,Ein Frankfurt,1,Ein Frankfurt,9,Ein Frankfurt,5,20
10,Erzgebirge Aue,5,Erzgebirge Aue,5,Erzgebirge Aue,3,Erzgebirge Aue,10,8
11,FC Koln,5,FC Koln,8,FC Koln,3,FC Koln,12,8
12,Fortuna Dusseldorf,11,Fortuna Dusseldorf,1,Fortuna Dusseldorf,5,Fortuna Dusseldorf,3,16
13,Frankfurt FSV,3,Frankfurt FSV,4,Frankfurt FSV,4,Frankfurt FSV,9,7
14,Freiburg,6,Freiburg,5,Freiburg,4,Freiburg,9,10
15,Greuther Furth,14,Greuther Furth,2,Greuther Furth,6,Greuther Furth,2,20
16,Hamburg,3,Hamburg,7,Hamburg,5,Hamburg,7,8
17,Hansa Rostock,3,Hansa Rostock,7,Hansa Rostock,2,Hansa Rostock,10,5
18,Hertha,4,Hertha,10,Hertha,3,Hertha,7,7
19,Hoffenheim,4,Hoffenheim,4,Hoffenheim,6,Hoffenheim,9,10
20,Ingolstadt,6,Ingolstadt,3,Ingolstadt,2,Ingolstadt,10,8
21,Kaiserslautern,2,Kaiserslautern,10,Kaiserslautern,2,Kaiserslautern,9,4
22,Karlsruhe,8,Karlsruhe,6,Karlsruhe,1,Karlsruhe,13,9
23,Leverkusen,8,Leverkusen,5,Leverkusen,7,Leverkusen,5,15
24,M'gladbach,9,M'gladbach,1,M'gladbach,8,M'gladbach,7,17
25,Mainz,7,Mainz,7,Mainz,2,Mainz,6,9
26,Munich 1860,10,Munich 1860,5,Munich 1860,7,Munich 1860,6,17
27,Nurnberg,6,Nurnberg,7,Nurnberg,6,Nurnberg,9,12
28,Paderborn,9,Paderborn,2,Paderborn,8,Paderborn,5,17
29,Schalke 04,13,Schalke 04,3,Schalke 04,7,Schalke 04,7,20
30,St Pauli,12,St Pauli,2,St Pauli,6,St Pauli,6,18
31,Stuttgart,10,Stuttgart,4,Stuttgart,5,Stuttgart,7,15
32,Union Berlin,11,Union Berlin,4,Union Berlin,3,Union Berlin,10,14
33,Werder Bremen,8,Werder Bremen,5,Werder Bremen,3,Werder Bremen,9,11
34,Wolfsburg,10,Wolfsburg,5,Wolfsburg,3,Wolfsburg,11,13
35,Hannover,10,Hannover,0,Hannover,2,Hannover,10,12

In [32]:
total_wins_losses['total_losses_overall'] = total_wins_losses['home_losses'] + total_wins_losses['away_losses']

In [33]:
total_wins_losses

,HOMETEAM,home_wins,hometeam,home_losses,AWAYTEAM,away_wins,awayteam,away_losses,total_wins_overall,total_losses_overall
0,Aachen,4,Aachen,7,Aachen,2,Aachen,8,6,15
1,Augsburg,6,Augsburg,4,Augsburg,2,Augsburg,8,8,12
2,Bayern Munich,14,Bayern Munich,2,Bayern Munich,9,Bayern Munich,5,23,7
3,Bochum,7,Bochum,7,Bochum,3,Bochum,10,10,17
4,Braunschweig,6,Braunschweig,3,Braunschweig,4,Braunschweig,6,10,9
5,Cottbus,4,Cottbus,5,Cottbus,4,Cottbus,10,8,15
6,Dortmund,14,Dortmund,1,Dortmund,11,Dortmund,2,25,3
7,Dresden,8,Dresden,4,Dresden,4,Dresden,9,12,13
8,Duisburg,8,Duisburg,7,Duisburg,2,Duisburg,8,10,15
9,Ein Frankfurt,11,Ein Frankfurt,1,Ein Frankfurt,9,Ein Frankfurt,5,20,6
10,Erzgebirge Aue,5,Erzgebirge Aue,5,Erzgebirge Aue,3,Erzgebirge Aue,10,8,15
11,FC Koln,5,FC Koln,8,FC Koln,3,FC Koln,12,8,20
12,Fortuna Dusseldorf,11,Fortuna Dusseldorf,1,Fortuna Dusseldorf,5,Fortuna Dusseldorf,3,16,4
13,Frankfurt FSV,3,Frankfurt FSV,4,Frankfurt FSV,4,Frankfurt FSV,9,7,13
14,Freiburg,6,Freiburg,5,Freiburg,4,Freiburg,9,10,14
15,Greuther Furth,14,Greuther Furth,2,Greuther Furth,6,Greuther Furth,2,20,4
16,Hamburg,3,Hamburg,7,Hamburg,5,Hamburg,7,8,14
17,Hansa Rostock,3,Hansa Rostock,7,Hansa Rostock,2,Hansa Rostock,10,5,17
18,Hertha,4,Hertha,10,Hertha,3,Hertha,7,7,17
19,Hoffenheim,4,Hoffenheim,4,Hoffenheim,6,Hoffenheim,9,10,13
20,Ingolstadt,6,Ingolstadt,3,Ingolstadt,2,Ingolstadt,10,8,13
21,Kaiserslautern,2,Kaiserslautern,10,Kaiserslautern,2,Kaiserslautern,9,4,19
22,Karlsruhe,8,Karlsruhe,6,Karlsruhe,1,Karlsruhe,13,9,19
23,Leverkusen,8,Leverkusen,5,Leverkusen,7,Leverkusen,5,15,10
24,M'gladbach,9,M'gladbach,1,M'gladbach,8,M'gladbach,7,17,8
25,Mainz,7,Mainz,7,Mainz,2,Mainz,6,9,13
26,Munich 1860,10,Munich 1860,5,Munich 1860,7,Munich 1860,6,17,11
27,Nurnberg,6,Nurnberg,7,Nurnberg,6,Nurnberg,9,12,16
28,Paderborn,9,Paderborn,2,Paderborn,8,Paderborn,5,17,7
29,Schalke 04,13,Schalke 04,3,Schalke 04,7,Schalke 04,7,20,10
30,St Pauli,12,St Pauli,2,St Pauli,6,St Pauli,6,18,8
31,Stuttgart,10,Stuttgart,4,Stuttgart,5,Stuttgart,7,15,11
32,Union Berlin,11,Union Berlin,4,Union Berlin,3,Union Berlin,10,14,14
33,Werder Bremen,8,Werder Bremen,5,Werder Bremen,3,Werder Bremen,9,11,14
34,Wolfsburg,10,Wolfsburg,5,Wolfsburg,3,Wolfsburg,11,13,16
35,Hannover,10,Hannover,0,Hannover,2,Hannover,10,12,10

The table above shows the number of team wins and losses overall in the bundesliga in 2011.

In [44]:
total_wins_losses.drop(['home_wins', 'hometeam', 'home_losses', 'AWAYTEAM', 'away_wins', 'awayteam', 'away_losses'], axis=1)

              HOMETEAM  total_wins_overall  total_losses_overall
0               Aachen                   6                    15
1             Augsburg                   8                    12
2        Bayern Munich                  23                     7
3               Bochum                  10                    17
4         Braunschweig                  10                     9
5              Cottbus                   8                    15
6             Dortmund                  25                     3
7              Dresden                  12                    13
8             Duisburg                  10                    15
9        Ein Frankfurt                  20                     6
10      Erzgebirge Aue                   8                    15
11             FC Koln                   8                    20
12  Fortuna Dusseldorf                  16                     4
13       Frankfurt FSV                   7                    13
14            Freiburg                  10                    14
15      Greuther Furth                  20                     4
16             Hamburg                   8                    14
17       Hansa Rostock                   5                    17
18              Hertha                   7                    17
19          Hoffenheim                  10                    13
20          Ingolstadt                   8                    13
21      Kaiserslautern                   4                    19
22           Karlsruhe                   9                    19
23          Leverkusen                  15                    10
24          M'gladbach                  17                     8
25               Mainz                   9                    13
26         Munich 1860                  17                    11
27            Nurnberg                  12                    16
28           Paderborn                  17                     7
29          Schalke 04                  20                    10
30            St Pauli                  18                     8
31           Stuttgart                  15                    11
32        Union Berlin                  14                    14
33       Werder Bremen                  11                    14
34           Wolfsburg                  13                    16
35            Hannover                  12                    10

Focus: total number of goals scored

In [36]:
cur.execute("""SELECT DISTINCT HomeTeam as HomeT, SUM(FTHG)
                FROM Matches
                WHERE season = '2011' AND Div != 'E0'
                GROUP BY HomeTeam
                ORDER BY HomeTeam ASC;""")

home_goals= pd.DataFrame(cur.fetchall())

home_goals.columns = [x[0] for x in cur.description]
home_goals

                 HomeT  SUM(FTHG)
0               Aachen         15
1             Augsburg         20
2        Bayern Munich         49
3               Bochum         23
4         Braunschweig         21
5              Cottbus         18
6             Dortmund         44
7              Dresden         30
8             Duisburg         23
9        Ein Frankfurt         38
10      Erzgebirge Aue         19
11             FC Koln         20
12  Fortuna Dusseldorf         35
13       Frankfurt FSV         20
14            Freiburg         24
15      Greuther Furth         46
16             Hamburg         19
17            Hannover         31
18       Hansa Rostock         20
19              Hertha         19
20          Hoffenheim         21
21          Ingolstadt         28
22      Kaiserslautern         12
23           Karlsruhe         23
24          Leverkusen         28
25          M'gladbach         29
26               Mainz         27
27         Munich 1860         35
28            Nurnberg         22
29           Paderborn         28
30          Schalke 04         47
31            St Pauli         36
32           Stuttgart         36
33        Union Berlin         30
34       Werder Bremen         31
35           Wolfsburg         29

In [37]:
cur.execute("""SELECT DISTINCT AwayTeam as AwayT, SUM(FTAG)
                FROM Matches
                WHERE season = '2011' AND Div != 'E0'
                GROUP BY AwayTeam
                ORDER BY AwayTeam ASC;""")

away_goals= pd.DataFrame(cur.fetchall())

away_goals.columns = [x[0] for x in cur.description]
away_goals

                 AwayT  SUM(FTAG)
0               Aachen         15
1             Augsburg         16
2        Bayern Munich         28
3               Bochum         18
4         Braunschweig         16
5              Cottbus         12
6             Dortmund         36
7              Dresden         20
8             Duisburg         19
9        Ein Frankfurt         38
10      Erzgebirge Aue         12
11             FC Koln         19
12  Fortuna Dusseldorf         29
13       Frankfurt FSV         23
14            Freiburg         21
15      Greuther Furth         27
16             Hamburg         16
17            Hannover         10
18       Hansa Rostock         14
19              Hertha         19
20          Hoffenheim         20
21          Ingolstadt         15
22      Kaiserslautern         12
23           Karlsruhe         11
24          Leverkusen         24
25          M'gladbach         20
26               Mainz         20
27         Munich 1860         27
28            Nurnberg         16
29           Paderborn         23
30          Schalke 04         27
31            St Pauli         23
32           Stuttgart         27
33        Union Berlin         25
34       Werder Bremen         18
35           Wolfsburg         18

In [38]:
total_goals = pd.concat([home_goals,away_goals], axis = 1)

In [39]:
total_goals

                 HomeT  SUM(FTHG)               AwayT  SUM(FTAG)
0               Aachen         15              Aachen         15
1             Augsburg         20            Augsburg         16
2        Bayern Munich         49       Bayern Munich         28
3               Bochum         23              Bochum         18
4         Braunschweig         21        Braunschweig         16
5              Cottbus         18             Cottbus         12
6             Dortmund         44            Dortmund         36
7              Dresden         30             Dresden         20
8             Duisburg         23            Duisburg         19
9        Ein Frankfurt         38       Ein Frankfurt         38
10      Erzgebirge Aue         19      Erzgebirge Aue         12
11             FC Koln         20             FC Koln         19
12  Fortuna Dusseldorf         35  Fortuna Dusseldorf         29
13       Frankfurt FSV         20       Frankfurt FSV         23
14            Freiburg         24            Freiburg         21
15      Greuther Furth         46      Greuther Furth         27
16             Hamburg         19             Hamburg         16
17            Hannover         31            Hannover         10
18       Hansa Rostock         20       Hansa Rostock         14
19              Hertha         19              Hertha         19
20          Hoffenheim         21          Hoffenheim         20
21          Ingolstadt         28          Ingolstadt         15
22      Kaiserslautern         12      Kaiserslautern         12
23           Karlsruhe         23           Karlsruhe         11
24          Leverkusen         28          Leverkusen         24
25          M'gladbach         29          M'gladbach         20
26               Mainz         27               Mainz         20
27         Munich 1860         35         Munich 1860         27
28            Nurnberg         22            Nurnberg         16
29           Paderborn         28           Paderborn         23
30          Schalke 04         47          Schalke 04         27
31            St Pauli         36            St Pauli         23
32           Stuttgart         36           Stuttgart         27
33        Union Berlin         30        Union Berlin         25
34       Werder Bremen         31       Werder Bremen         18
35           Wolfsburg         29           Wolfsburg         18

In [40]:
total_goals['total'] = total_goals['SUM(FTHG)'] + total_goals['SUM(FTAG)']

In [41]:
total_goals

                 HomeT  SUM(FTHG)               AwayT  SUM(FTAG)  total
0               Aachen         15              Aachen         15     30
1             Augsburg         20            Augsburg         16     36
2        Bayern Munich         49       Bayern Munich         28     77
3               Bochum         23              Bochum         18     41
4         Braunschweig         21        Braunschweig         16     37
5              Cottbus         18             Cottbus         12     30
6             Dortmund         44            Dortmund         36     80
7              Dresden         30             Dresden         20     50
8             Duisburg         23            Duisburg         19     42
9        Ein Frankfurt         38       Ein Frankfurt         38     76
10      Erzgebirge Aue         19      Erzgebirge Aue         12     31
11             FC Koln         20             FC Koln         19     39
12  Fortuna Dusseldorf         35  Fortuna Dusseldorf         29     64
13       Frankfurt FSV         20       Frankfurt FSV         23     43
14            Freiburg         24            Freiburg         21     45
15      Greuther Furth         46      Greuther Furth         27     73
16             Hamburg         19             Hamburg         16     35
17            Hannover         31            Hannover         10     41
18       Hansa Rostock         20       Hansa Rostock         14     34
19              Hertha         19              Hertha         19     38
20          Hoffenheim         21          Hoffenheim         20     41
21          Ingolstadt         28          Ingolstadt         15     43
22      Kaiserslautern         12      Kaiserslautern         12     24
23           Karlsruhe         23           Karlsruhe         11     34
24          Leverkusen         28          Leverkusen         24     52
25          M'gladbach         29          M'gladbach         20     49
26               Mainz         27               Mainz         20     47
27         Munich 1860         35         Munich 1860         27     62
28            Nurnberg         22            Nurnberg         16     38
29           Paderborn         28           Paderborn         23     51
30          Schalke 04         47          Schalke 04         27     74
31            St Pauli         36            St Pauli         23     59
32           Stuttgart         36           Stuttgart         27     63
33        Union Berlin         30        Union Berlin         25     55
34       Werder Bremen         31       Werder Bremen         18     49
35           Wolfsburg         29           Wolfsburg         18     47

Below is the total number of (home and away) goals scored per team in the bundesliga in 2011.

In [42]:
total_goals.drop(['SUM(FTHG)', 'AwayT', 'SUM(FTAG)'], axis=1)

                 HomeT  total
0               Aachen     30
1             Augsburg     36
2        Bayern Munich     77
3               Bochum     41
4         Braunschweig     37
5              Cottbus     30
6             Dortmund     80
7              Dresden     50
8             Duisburg     42
9        Ein Frankfurt     76
10      Erzgebirge Aue     31
11             FC Koln     39
12  Fortuna Dusseldorf     64
13       Frankfurt FSV     43
14            Freiburg     45
15      Greuther Furth     73
16             Hamburg     35
17            Hannover     41
18       Hansa Rostock     34
19              Hertha     38
20          Hoffenheim     41
21          Ingolstadt     43
22      Kaiserslautern     24
23           Karlsruhe     34
24          Leverkusen     52
25          M'gladbach     49
26               Mainz     47
27         Munich 1860     62
28            Nurnberg     38
29           Paderborn     51
30          Schalke 04     74
31            St Pauli     59
32           Stuttgart     63
33        Union Berlin     55
34       Werder Bremen     49
35           Wolfsburg     47

Statistics for use with the team's winning percentage on days when it was raining.

First, we need to access the Dark Sky API to get historical weather data for the matches. We can append this information to the matches table for all teams in the bundesliga in 2011, and then from there begin to calculate summary statistics.

In [61]:
cur.execute("""SELECT *
                FROM Matches
                WHERE Season = '2011' AND Div != 'E0'
                ORDER BY Date ASC;""")

dates = pd.DataFrame(cur.fetchall())

dates.columns = [x[0] for x in cur.description]
dates

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1133,D2,2011,2011-07-15,Cottbus,Dresden,2,1,H
1,1167,D2,2011,2011-07-15,Greuther Furth,Ein Frankfurt,2,3,A
2,1551,D2,2011,2011-07-15,Frankfurt FSV,Union Berlin,1,1,D
3,1550,D2,2011,2011-07-16,Erzgebirge Aue,Aachen,1,0,H
4,1678,D2,2011,2011-07-16,St Pauli,Ingolstadt,2,0,H
5,1146,D2,2011,2011-07-17,Karlsruhe,Duisburg,3,2,H
6,1442,D2,2011,2011-07-17,Braunschweig,Munich 1860,3,1,H
7,1602,D2,2011,2011-07-17,Hansa Rostock,Paderborn,1,2,A
8,1360,D2,2011,2011-07-18,Fortuna Dusseldorf,Bochum,2,0,H
9,1505,D2,2011,2011-07-22,Duisburg,Cottbus,1,2,A
10,1596,D2,2011,2011-07-22,Ingolstadt,Erzgebirge Aue,0,0,D
11,1667,D2,2011,2011-07-22,Bochum,Frankfurt FSV,1,0,H
12,1261,D2,2011,2011-07-23,Munich 1860,Karlsruhe,2,1,H
13,1525,D2,2011,2011-07-23,Union Berlin,Greuther Furth,0,4,A
14,1390,D2,2011,2011-07-24,Dresden,Hansa Rostock,1,1,D
15,1574,D2,2011,2011-07-24,Aachen,Braunschweig,0,2,A
16,1699,D2,2011,2011-07-24,Paderborn,Fortuna Dusseldorf,1,1,D
17,1463,D2,2011,2011-07-25,Ein Frankfurt,St Pauli,1,1,D
18,1219,D1,2011,2011-08-05,Dortmund,Hamburg,3,1,H
19,1545,D2,2011,2011-08-05,St Pauli,Aachen,3,1,H
20,1613,D2,2011,2011-08-05,Union Berlin,Paderborn,3,0,H
21,1684,D2,2011,2011-08-05,Fortuna Dusseldorf,Ingolstadt,4,1,H
22,1130,D2,2011,2011-08-06,Greuther Furth,Dresden,1,0,H
23,1194,D1,2011,2011-08-06,Augsburg,Freiburg,2,2,D
24,1237,D1,2011,2011-08-06,Werder Bremen,Kaiserslautern,2,0,H
25,1292,D1,2011,2011-08-06,Hertha,Nurnberg,0,1,A
26,1311,D1,2011,2011-08-06,Stuttgart,Schalke 04,3,0,H
27,1433,D2,2011,2011-08-06,Cottbus,Munich 1860,0,5,A
28,1466,D1,2011,2011-08-06,FC Koln,Wolfsburg,0,3,A
29,1648,D1,2011,2011-08-06,Hannover,Hoffenheim,2,1,H
...,...,...,...,...,...,...,...,...,...
582,1409,D1,2011,2012-04-28,Schalke 04,Hertha,4,0,H
583,1418,D1,2011,2012-04-28,Hamburg,Mainz,0,0,D
584,1624,D1,2011,2012-04-28,M'gladbach,Augsburg,0,0,D
585,1247,D2,2011,2012-04-29,Aachen,Karlsruhe,1,0,H
586,1389,D2,2011,2012-04-29,Union Berlin,Hansa Rostock,5,4,H
587,1432,D2,2011,2012-04-29,Ein Frankfurt,Munich 1860,0,2,A
588,1460,D2,2011,2012-04-29,Dresden,St Pauli,1,0,H
589,1514,D2,2011,2012-04-29,Ingolstadt,Cottbus,1,0,H
590,1569,D2,2011,2012-04-29,Bochum,Braunschweig,2,0,H
591,1593,D2,2011,2012-04-29,Duisburg,Erzgebirge Aue,2,1,H
592,1665,D2,2011,2012-04-29,Paderborn,Frankfurt FSV,1,0,H
593,1687,D2,2011,2012-04-29,Greuther Furth,Fortuna Dusseldorf,1,1,D
594,1107,D1,2011,2012-05-05,FC Koln,Bayern Munich,1,4,A
595,1207,D1,2011,2012-05-05,Dortmund,Freiburg,4,0,H
596,1223,D1,2011,2012-05-05,Augsburg,Hamburg,1,0,H
597,1229,D1,2011,2012-05-05,Hannover,Kaiserslautern,2,1,H
598,1270,D1,2011,2012-05-05,Nurnberg,Leverkusen,1,4,A
599,1301,D1,2011,2012-05-05,Werder Bremen,Schalke 04,2,3,A
600,1474,D1,2011,2012-05-05,Stuttgart,Wolfsburg,3,2,H
601,1485,D1,2011,2012-05-05,Mainz,M'gladbach,0,3,A
602,1645,D1,2011,2012-05-05,Hertha,Hoffenheim,3,1,H
603,1135,D2,2011,2012-05-06,Frankfurt FSV,Dresden,1,1,D
604,1158,D2,2011,2012-05-06,Fortuna Dusseldorf,Duisburg,2,2,D
605,1168,D2,2011,2012-05-06,Karlsruhe,Ein Frankfurt,1,0,H
606,1356,D2,2011,2012-05-06,Erzgebirge Aue,Bochum,2,1,H
607,1528,D2,2011,2012-05-06,Hansa Rostock,Greuther Furth,2,2,D
608,1540,D2,2011,2012-05-06,Munich 1860,Aachen,1,2,A
609,1552,D2,2011,2012-05-06,Cottbus,Union Berlin,2,1,H
610,1610,D2,2011,2012-05-06,St Pauli,Paderborn,5,0,H
611,1683,D2,2011,2012-05-06,Braunschweig,Ingolstadt,3,1,H

This column is the specific column we want to use for the API.

In [62]:
cur.execute("""SELECT DISTINCT Date
                FROM Matches
                WHERE Season = '2011' AND Div != 'E0'
                ORDER BY Date ASC;""")

dates = pd.DataFrame(cur.fetchall())

dates.columns = [x[0] for x in cur.description]
dates

           Date
0    2011-07-15
1    2011-07-16
2    2011-07-17
3    2011-07-18
4    2011-07-22
5    2011-07-23
6    2011-07-24
7    2011-07-25
8    2011-08-05
9    2011-08-06
10   2011-08-07
11   2011-08-08
12   2011-08-12
13   2011-08-13
14   2011-08-14
15   2011-08-15
16   2011-08-19
17   2011-08-20
18   2011-08-21
19   2011-08-22
20   2011-08-26
21   2011-08-27
22   2011-08-28
23   2011-08-29
24   2011-09-09
25   2011-09-10
26   2011-09-11
27   2011-09-12
28   2011-09-16
29   2011-09-17
..          ...
106  2012-03-14
107  2012-03-16
108  2012-03-17
109  2012-03-18
110  2012-03-19
111  2012-03-23
112  2012-03-24
113  2012-03-25
114  2012-03-26
115  2012-03-30
116  2012-03-31
117  2012-04-01
118  2012-04-02
119  2012-04-05
120  2012-04-07
121  2012-04-08
122  2012-04-10
123  2012-04-11
124  2012-04-13
125  2012-04-14
126  2012-04-15
127  2012-04-16
128  2012-04-20
129  2012-04-21
130  2012-04-22
131  2012-04-23
132  2012-04-28
133  2012-04-29
134  2012-05-05
135  2012-05-06

[136 rows x 1 columns]

An initial get request to the API gives us an overview of the returned json file.

In [65]:
import requests

In [66]:
m = requests.get(f"https://api.darksky.net/forecast/85591acf50c4208c767c4eb4b18856a5/52.5200,13.4050,2012-05-06T16:00:00").json()

In [67]:
m

{'latitude': 52.52,
 'longitude': 13.405,
 'timezone': 'Europe/Berlin',
 'currently': {'time': 1336312800,
  'summary': 'Mostly Cloudy',
  'icon': 'partly-cloudy-day',
  'precipIntensity': 0,
  'precipProbability': 0,
  'temperature': 51.03,
  'apparentTemperature': 51.03,
  'dewPoint': 37.4,
  'humidity': 0.59,
  'windSpeed': 4,
  'windGust': 4,
  'windBearing': 15,
  'cloudCover': 0.75,
  'uvIndex': 3,
  'visibility': 6.216},
 'hourly': {'summary': 'Possible light rain overnight and in the morning.',
  'icon': 'rain',
  'data': [{'time': 1336255200,
    'summary': 'Mostly Cloudy',
    'icon': 'partly-cloudy-night',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 43.63,
    'apparentTemperature': 41.02,
    'dewPoint': 38.01,
    'humidity': 0.8,
    'windSpeed': 4.61,
    'windGust': 4.61,
    'windBearing': 0,
    'cloudCover': 0.86,
    'uvIndex': 0,
    'visibility': 6.216},
   {'time': 1336258800,
    'summary': 'Possible Drizzle',
    'icon': 'rain',
    'precipIntensity': 0.0115,
    'precipProbability': 0.56,
    'precipType': 'rain',
    'temperature': 42.03,
    'apparentTemperature': 39.15,
    'dewPoint': 36.68,
    'humidity': 0.81,
    'windSpeed': 4.61,
    'windGust': 4.61,
    'windBearing': 10,
    'cloudCover': 0.86,
    'uvIndex': 0,
    'visibility': 6.216},
   {'time': 1336262400,
    'summary': 'Possible Light Rain',
    'icon': 'rain',
    'precipIntensity': 0.0167,
    'precipProbability': 0.57,
    'precipType': 'rain',
    'temperature': 42.42,
    'apparentTemperature': 39.32,
    'dewPoint': 37.6,
    'humidity': 0.83,
    'windSpeed': 4.99,
    'windGust': 4.99,
    'windBearing': 0,
    'cloudCover': 1,
    'uvIndex': 0,
    'visibility': 6.216},
   {'time': 1336266000,
    'summary': 'Possible Light Rain',
    'icon': 'rain',
    'precipIntensity': 0.0163,
    'precipProbability': 0.52,
    'precipType': 'rain',
    'temperature': 41.92,
    'apparentTemperature': 40.05,
    'dewPoint': 37.21,
    'humidity': 0.83,
    'windSpeed': 3.46,
    'windGust': 3.46,
    'windBearing': 341,
    'cloudCover': 0.86,
    'uvIndex': 0,
    'visibility': 6.216},
   {'time': 1336269600,
    'summary': 'Possible Drizzle',
    'icon': 'rain',
    'precipIntensity': 0.015,
    'precipProbability': 0.52,
    'precipType': 'rain',
    'temperature': 42.42,
    'apparentTemperature': 39.32,
    'dewPoint': 39.52,
    'humidity': 0.89,
    'windSpeed': 4.99,
    'windGust': 4.99,
    'windBearing': 341,
    'cloudCover': 0.75,
    'uvIndex': 0,
    'visibility': 6.216},
   {'time': 1336273200,
    'summary': 'Possible Drizzle',
    'icon': 'rain',
    'precipIntensity': 0.0057,
    'precipProbability': 0.57,
    'precipType': 'rain',
    'temperature': 42.03,
    'apparentTemperature': 37.64,
    'dewPoint': 39.22,
    'humidity': 0.9,
    'windSpeed': 6.91,
    'windGust': 7.01,
    'windBearing': 355,
    'cloudCover': 0.75,
    'uvIndex': 0,
    'visibility': 6.216},
   {'time': 1336276800,
    'summary': 'Possible Drizzle',
    'icon': 'rain',
    'precipIntensity': 0.0113,
    'precipProbability': 0.52,
    'precipType': 'rain',
    'temperature': 41.09,
    'apparentTemperature': 37.23,
    'dewPoint': 39.22,
    'humidity': 0.93,
    'windSpeed': 5.74,
    'windGust': 5.74,
    'windBearing': 341,
    'cloudCover': 0.75,
    'uvIndex': 0,
    'visibility': 6.216},
   {'time': 1336280400,
    'summary': 'Possible Drizzle',
    'icon': 'rain',
    'precipIntensity': 0.005,
    'precipProbability': 0.5,
    'precipType': 'rain',
    'temperature': 41.84,
    'apparentTemperature': 37.94,
    'dewPoint': 38.3,
    'humidity': 0.87,
    'windSpeed': 6,
    'windGust': 6,
    'windBearing': 356,
    'cloudCover': 0.75,
    'uvIndex': 0,
    'visibility': 6.216},
   {'time': 1336284000,
    'summary': 'Possible Drizzle',
    'icon': 'rain',
    'precipIntensity': 0.0057,
    'precipProbability': 0.56,
    'precipType': 'rain',
    'temperature': 41.89,
    'apparentTemperature': 38,
    'dewPoint': 38.56,
    'humidity': 0.88,
    'windSpeed': 6,
    'windGust': 6,
    'windBearing': 8,
    'cloudCover': 0.75,
    'uvIndex': 1,
    'visibility': 6.216},
   {'time': 1336287600,
    'summary': 'Mostly Cloudy',
    'icon': 'partly-cloudy-day',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 43.01,
    'apparentTemperature': 40.79,
    'dewPoint': 39.22,
    'humidity': 0.86,
    'windSpeed': 4,
    'windGust': 4,
    'windBearing': 345,
    'cloudCover': 0.75,
    'uvIndex': 2,
    'visibility': 6.216},
   {'time': 1336291200,
    'summary': 'Mostly Cloudy',
    'icon': 'partly-cloudy-day',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 45.32,
    'apparentTemperature': 43.94,
    'dewPoint': 39.22,
    'humidity': 0.79,
    'windSpeed': 3.46,
    'windGust': 3.46,
    'windBearing': 356,
    'cloudCover': 0.75,
    'uvIndex': 3,
    'visibility': 6.216},
   {'time': 1336294800,
    'summary': 'Mostly Cloudy',
    'icon': 'partly-cloudy-day',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 46.28,
    'apparentTemperature': 43.39,
    'dewPoint': 38.21,
    'humidity': 0.73,
    'windSpeed': 5.74,
    'windGust': 5.74,
    'windBearing': 26,
    'cloudCover': 0.75,
    'uvIndex': 4,
    'visibility': 6.216},
   {'time': 1336298400,
    'summary': 'Mostly Cloudy',
    'icon': 'partly-cloudy-day',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 49.55,
    'apparentTemperature': 49.55,
    'dewPoint': 37.4,
    'humidity': 0.63,
    'windSpeed': 2.99,
    'windGust': 2.99,
    'windBearing': 52,
    'cloudCover': 0.75,
    'uvIndex': 5,
    'visibility': 6.216},
   {'time': 1336302000,
    'summary': 'Mostly Cloudy',
    'icon': 'partly-cloudy-day',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 48.74,
    'apparentTemperature': 46.99,
    'dewPoint': 37.4,
    'humidity': 0.65,
    'windSpeed': 4.61,
    'windGust': 4.61,
    'windBearing': 41,
    'cloudCover': 0.75,
    'uvIndex': 5,
    'visibility': 6.216},
   {'time': 1336305600,
    'summary': 'Mostly Cloudy',
    'icon': 'partly-cloudy-day',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 50.7,
    'apparentTemperature': 50.7,
    'dewPoint': 38.21,
    'humidity': 0.62,
    'windSpeed': 5.74,
    'windGust': 5.74,
    'windBearing': 71,
    'cloudCover': 0.75,
    'uvIndex': 5,
    'visibility': 6.216},
   {'time': 1336309200,
    'summary': 'Mostly Cloudy',
    'icon': 'partly-cloudy-day',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 49.85,
    'apparentTemperature': 47.48,
    'dewPoint': 37.4,
    'humidity': 0.62,
    'windSpeed': 6,
    'windGust': 6,
    'windBearing': 341,
    'cloudCover': 0.75,
    'uvIndex': 4,
    'visibility': 6.216},
   {'time': 1336312800,
    'summary': 'Mostly Cloudy',
    'icon': 'partly-cloudy-day',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 51.03,
    'apparentTemperature': 51.03,
    'dewPoint': 37.4,
    'humidity': 0.59,
    'windSpeed': 4,
    'windGust': 4,
    'windBearing': 15,
    'cloudCover': 0.75,
    'uvIndex': 3,
    'visibility': 6.216},
   {'time': 1336316400,
    'summary': 'Mostly Cloudy',
    'icon': 'partly-cloudy-day',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 51.27,
    'apparentTemperature': 51.27,
    'dewPoint': 38.21,
    'humidity': 0.61,
    'windSpeed': 5.74,
    'windGust': 5.74,
    'windBearing': 90,
    'cloudCover': 0.75,
    'uvIndex': 2,
    'visibility': 6.216},
   {'time': 1336320000,
    'summary': 'Overcast',
    'icon': 'cloudy',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 51.03,
    'apparentTemperature': 51.03,
    'dewPoint': 38.21,
    'humidity': 0.61,
    'windSpeed': 5.74,
    'windGust': 6,
    'windBearing': 101,
    'cloudCover': 0.89,
    'uvIndex': 1,
    'visibility': 6.216},
   {'time': 1336323600,
    'summary': 'Mostly Cloudy',
    'icon': 'partly-cloudy-day',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 50.02,
    'apparentTemperature': 50.02,
    'dewPoint': 38.21,
    'humidity': 0.64,
    'windSpeed': 5.74,
    'windGust': 5.74,
    'windBearing': 132,
    'cloudCover': 0.75,
    'uvIndex': 0,
    'visibility': 6.216},
   {'time': 1336327200,
    'summary': 'Overcast',
    'icon': 'cloudy',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 48.13,
    'apparentTemperature': 46.7,
    'dewPoint': 38.21,
    'humidity': 0.68,
    'windSpeed': 4,
    'windGust': 4,
    'windBearing': 148,
    'cloudCover': 1,
    'uvIndex': 0,
    'visibility': 6.211},
   {'time': 1336330800,
    'summary': 'Overcast',
    'icon': 'cloudy',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 47.44,
    'apparentTemperature': 46.36,
    'dewPoint': 38.21,
    'humidity': 0.7,
    'windSpeed': 3.46,
    'windGust': 4,
    'windBearing': 68,
    'cloudCover': 1,
    'uvIndex': 0,
    'visibility': 6.211},
   {'time': 1336334400,
    'summary': 'Clear',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 47.44,
    'apparentTemperature': 47.44,
    'dewPoint': 39.83,
    'humidity': 0.75,
    'windSpeed': 2.29,
    'windGust': 2.29,
    'windBearing': 95,
    'uvIndex': 0,
    'visibility': 6.206},
   {'time': 1336338000,
    'summary': 'Overcast',
    'icon': 'cloudy',
    'precipIntensity': 0,
    'precipProbability': 0,
    'temperature': 47.44,
    'apparentTemperature': 47.44,
    'dewPoint': 39.83,
    'humidity': 0.75,
    'windSpeed': 2.01,
    'windGust': 2.01,
    'windBearing': 90,
    'cloudCover': 1,
    'uvIndex': 0,
    'visibility': 6.216}]},
 'daily': {'data': [{'time': 1336255200,
    'summary': 'Possible drizzle in the morning.',
    'icon': 'rain',
    'sunriseTime': 1336274760,
    'sunsetTime': 1336329780,
    'moonPhase': 0.53,
    'precipIntensity': 0.0038,
    'precipIntensityMax': 0.017,
    'precipIntensityMaxTime': 1336263480,
    'precipProbability': 0.57,
    'precipType': 'rain',
    'temperatureHigh': 51.77,
    'temperatureHighTime': 1336316400,
    'temperatureLow': 44.71,
    'temperatureLowTime': 1336362780,
    'apparentTemperatureHigh': 51.39,
    'apparentTemperatureHighTime': 1336314420,
    'apparentTemperatureLow': 43.8,
    'apparentTemperatureLowTime': 1336363620,
    'dewPoint': 38.28,
    'humidity': 0.75,
    'windSpeed': 4.76,
    'windGust': 7.01,
    'windGustTime': 1336273200,
    'windBearing': 27,
    'cloudCover': 0.8,
    'uvIndex': 5,
    'uvIndexTime': 1336302180,
    'visibility': 6.215,
    'temperatureMin': 40.6,
    'temperatureMinTime': 1336276860,
    'temperatureMax': 51.77,
    'temperatureMaxTime': 1336316400,
    'apparentTemperatureMin': 37.21,
    'apparentTemperatureMinTime': 1336276260,
    'apparentTemperatureMax': 51.39,
    'apparentTemperatureMaxTime': 1336314420}]},
 'flags': {'sources': ['cmc', 'gfs', 'icon', 'isd', 'madis'],
  'nearest-station': 1.219,
  'units': 'us'},
 'offset': 2}

The 'summary' key within the 'currently' key (two levels down in the dictionary object returned in the json file) contains information about the weather - specifically, whether it is raining or not. We can use these in our get request from the API (when we select for specific dates).

As noted on the Dark Sky overview page for requests, we need to specify the latitude and longitude we are interested in (Berlin) alongside information about the date we are interested in (including year, month, date and a specfic hour). I will use 16h, as this is a common starting time for football matches.

In [63]:
dates_list = []

for i in dates['Date']:
    dates_list.append(i + "T16:00:00")

print(dates_list)

['2011-07-15T16:00:00', '2011-07-16T16:00:00', '2011-07-17T16:00:00', '2011-07-18T16:00:00', '2011-07-22T16:00:00', '2011-07-23T16:00:00', '2011-07-24T16:00:00', '2011-07-25T16:00:00', '2011-08-05T16:00:00', '2011-08-06T16:00:00', '2011-08-07T16:00:00', '2011-08-08T16:00:00', '2011-08-12T16:00:00', '2011-08-13T16:00:00', '2011-08-14T16:00:00', '2011-08-15T16:00:00', '2011-08-19T16:00:00', '2011-08-20T16:00:00', '2011-08-21T16:00:00', '2011-08-22T16:00:00', '2011-08-26T16:00:00', '2011-08-27T16:00:00', '2011-08-28T16:00:00', '2011-08-29T16:00:00', '2011-09-09T16:00:00', '2011-09-10T16:00:00', '2011-09-11T16:00:00', '2011-09-12T16:00:00', '2011-09-16T16:00:00', '2011-09-17T16:00:00', '2011-09-18T16:00:00', '2011-09-19T16:00:00', '2011-09-23T16:00:00', '2011-09-24T16:00:00', '2011-09-25T16:00:00', '2011-09-26T16:00:00', '2011-09-30T16:00:00', '2011-10-01T16:00:00', '2011-10-02T16:00:00', '2011-10-03T16:00:00', '2011-10-14T16:00:00', '2011-10-15T16:00:00', '2011-10-16T16:00:00', '2011-10-17T16:00:00', '2011-10-21T16:00:00', '2011-10-22T16:00:00', '2011-10-23T16:00:00', '2011-10-28T16:00:00', '2011-10-29T16:00:00', '2011-10-30T16:00:00', '2011-10-31T16:00:00', '2011-11-04T16:00:00', '2011-11-05T16:00:00', '2011-11-06T16:00:00', '2011-11-07T16:00:00', '2011-11-18T16:00:00', '2011-11-19T16:00:00', '2011-11-20T16:00:00', '2011-11-21T16:00:00', '2011-11-25T16:00:00', '2011-11-26T16:00:00', '2011-11-27T16:00:00', '2011-11-28T16:00:00', '2011-12-02T16:00:00', '2011-12-03T16:00:00', '2011-12-04T16:00:00', '2011-12-05T16:00:00', '2011-12-09T16:00:00', '2011-12-10T16:00:00', '2011-12-11T16:00:00', '2011-12-12T16:00:00', '2011-12-13T16:00:00', '2011-12-16T16:00:00', '2011-12-17T16:00:00', '2011-12-18T16:00:00', '2011-12-19T16:00:00', '2012-01-20T16:00:00', '2012-01-21T16:00:00', '2012-01-22T16:00:00', '2012-01-27T16:00:00', '2012-01-28T16:00:00', '2012-01-29T16:00:00', '2012-02-03T16:00:00', '2012-02-04T16:00:00', '2012-02-05T16:00:00', '2012-02-06T16:00:00', '2012-02-10T16:00:00', '2012-02-11T16:00:00', '2012-02-12T16:00:00', '2012-02-13T16:00:00', '2012-02-17T16:00:00', '2012-02-18T16:00:00', '2012-02-19T16:00:00', '2012-02-20T16:00:00', '2012-02-24T16:00:00', '2012-02-25T16:00:00', '2012-02-26T16:00:00', '2012-02-27T16:00:00', '2012-03-02T16:00:00', '2012-03-03T16:00:00', '2012-03-04T16:00:00', '2012-03-05T16:00:00', '2012-03-09T16:00:00', '2012-03-10T16:00:00', '2012-03-11T16:00:00', '2012-03-12T16:00:00', '2012-03-14T16:00:00', '2012-03-16T16:00:00', '2012-03-17T16:00:00', '2012-03-18T16:00:00', '2012-03-19T16:00:00', '2012-03-23T16:00:00', '2012-03-24T16:00:00', '2012-03-25T16:00:00', '2012-03-26T16:00:00', '2012-03-30T16:00:00', '2012-03-31T16:00:00', '2012-04-01T16:00:00', '2012-04-02T16:00:00', '2012-04-05T16:00:00', '2012-04-07T16:00:00', '2012-04-08T16:00:00', '2012-04-10T16:00:00', '2012-04-11T16:00:00', '2012-04-13T16:00:00', '2012-04-14T16:00:00', '2012-04-15T16:00:00', '2012-04-16T16:00:00', '2012-04-20T16:00:00', '2012-04-21T16:00:00', '2012-04-22T16:00:00', '2012-04-23T16:00:00', '2012-04-28T16:00:00', '2012-04-29T16:00:00', '2012-05-05T16:00:00', '2012-05-06T16:00:00']

In [69]:
import json

In [70]:
from dotenv import load_dotenv

import os

load_dotenv()

class WeatherGetter():
    def __init__(self):
        self.BASE_URL = 'https://api.darksky.net'
        self.secretkey = os.getenv('DARKSKY_API')       
        
    def weather_getter(self,date):
        forecast = requests.get(f"{self.BASE_URL}forecast/{self.secretkey}/52.5200,13.4050{date}")
        return forecast

In [72]:
weather_dates = {}

for date in dates_list:
    call_weather = requests.get(f"https://api.darksky.net/forecast/85591acf50c4208c767c4eb4b18856a5/52.5200,13.4050,{date}").json()
    weather = call_weather['currently']['summary']
    weather_dates[date] = weather
    
weather_dates

{'2011-07-15T16:00:00': 'Mostly Cloudy',
 '2011-07-16T16:00:00': 'Clear',
 '2011-07-17T16:00:00': 'Clear',
 '2011-07-18T16:00:00': 'Partly Cloudy',
 '2011-07-22T16:00:00': 'Light Rain',
 '2011-07-23T16:00:00': 'Mostly Cloudy',
 '2011-07-24T16:00:00': 'Mostly Cloudy',
 '2011-07-25T16:00:00': 'Mostly Cloudy',
 '2011-08-05T16:00:00': 'Mostly Cloudy',
 '2011-08-06T16:00:00': 'Mostly Cloudy',
 '2011-08-07T16:00:00': 'Mostly Cloudy',
 '2011-08-08T16:00:00': 'Light Rain',
 '2011-08-12T16:00:00': 'Mostly Cloudy',
 '2011-08-13T16:00:00': 'Partly Cloudy',
 '2011-08-14T16:00:00': 'Mostly Cloudy',
 '2011-08-15T16:00:00': 'Mostly Cloudy',
 '2011-08-19T16:00:00': 'Partly Cloudy',
 '2011-08-20T16:00:00': 'Clear',
 '2011-08-21T16:00:00': 'Clear',
 '2011-08-22T16:00:00': 'Clear',
 '2011-08-26T16:00:00': 'Clear',
 '2011-08-27T16:00:00': 'Mostly Cloudy',
 '2011-08-28T16:00:00': 'Mostly Cloudy',
 '2011-08-29T16:00:00': 'Possible Drizzle',
 '2011-09-09T16:00:00': 'Mostly Cloudy',
 '2011-09-10T16:00:00': 'Mostly Cloudy',
 '2011-09-11T16:00:00': 'Mostly Cloudy',
 '2011-09-12T16:00:00': 'Partly Cloudy',
 '2011-09-16T16:00:00': 'Partly Cloudy',
 '2011-09-17T16:00:00': 'Mostly Cloudy',
 '2011-09-18T16:00:00': 'Possible Drizzle',
 '2011-09-19T16:00:00': 'Mostly Cloudy',
 '2011-09-23T16:00:00': 'Mostly Cloudy',
 '2011-09-24T16:00:00': 'Clear',
 '2011-09-25T16:00:00': 'Clear',
 '2011-09-26T16:00:00': 'Clear',
 '2011-09-30T16:00:00': 'Clear',
 '2011-10-01T16:00:00': 'Clear',
 '2011-10-02T16:00:00': 'Clear',
 '2011-10-03T16:00:00': 'Clear',
 '2011-10-14T16:00:00': 'Partly Cloudy',
 '2011-10-15T16:00:00': 'Clear',
 '2011-10-16T16:00:00': 'Clear',
 '2011-10-17T16:00:00': 'Clear',
 '2011-10-21T16:00:00': 'Mostly Cloudy',
 '2011-10-22T16:00:00': 'Clear',
 '2011-10-23T16:00:00': 'Clear',
 '2011-10-28T16:00:00': 'Mostly Cloudy',
 '2011-10-29T16:00:00': 'Clear',
 '2011-10-30T16:00:00': 'Mostly Cloudy',
 '2011-10-31T16:00:00': 'Mostly Cloudy',
 '2011-11-04T16:00:00': 'Clear',
 '2011-11-05T16:00:00': 'Clear',
 '2011-11-06T16:00:00': 'Clear',
 '2011-11-07T16:00:00': 'Clear',
 '2011-11-18T16:00:00': 'Mostly Cloudy',
 '2011-11-19T16:00:00': 'Clear',
 '2011-11-20T16:00:00': 'Clear',
 '2011-11-21T16:00:00': 'Mostly Cloudy',
 '2011-11-25T16:00:00': 'Clear',
 '2011-11-26T16:00:00': 'Mostly Cloudy',
 '2011-11-27T16:00:00': 'Mostly Cloudy',
 '2011-11-28T16:00:00': 'Clear',
 '2011-12-02T16:00:00': 'Light Rain',
 '2011-12-03T16:00:00': 'Possible Light Rain',
 '2011-12-04T16:00:00': 'Mostly Cloudy',
 '2011-12-05T16:00:00': 'Partly Cloudy',
 '2011-12-09T16:00:00': 'Mostly Cloudy',
 '2011-12-10T16:00:00': 'Mostly Cloudy',
 '2011-12-11T16:00:00': 'Clear',
 '2011-12-12T16:00:00': 'Mostly Cloudy',
 '2011-12-13T16:00:00': 'Possible Light Rain',
 '2011-12-16T16:00:00': 'Possible Light Rain',
 '2011-12-17T16:00:00': 'Mostly Cloudy',
 '2011-12-18T16:00:00': 'Possible Drizzle',
 '2011-12-19T16:00:00': 'Mostly Cloudy',
 '2012-01-20T16:00:00': 'Mostly Cloudy',
 '2012-01-21T16:00:00': 'Mostly Cloudy',
 '2012-01-22T16:00:00': 'Mostly Cloudy',
 '2012-01-27T16:00:00': 'Clear',
 '2012-01-28T16:00:00': 'Overcast',
 '2012-01-29T16:00:00': 'Clear',
 '2012-02-03T16:00:00': 'Mostly Cloudy',
 '2012-02-04T16:00:00': 'Partly Cloudy',
 '2012-02-05T16:00:00': 'Mostly Cloudy',
 '2012-02-06T16:00:00': 'Clear',
 '2012-02-10T16:00:00': 'Clear',
 '2012-02-11T16:00:00': 'Clear',
 '2012-02-12T16:00:00': 'Mostly Cloudy',
 '2012-02-13T16:00:00': 'Mostly Cloudy',
 '2012-02-17T16:00:00': 'Mostly Cloudy',
 '2012-02-18T16:00:00': 'Mostly Cloudy',
 '2012-02-19T16:00:00': 'Mostly Cloudy',
 '2012-02-20T16:00:00': 'Partly Cloudy',
 '2012-02-24T16:00:00': 'Mostly Cloudy',
 '2012-02-25T16:00:00': 'Mostly Cloudy',
 '2012-02-26T16:00:00': 'Clear',
 '2012-02-27T16:00:00': 'Mostly Cloudy',
 '2012-03-02T16:00:00': 'Overcast',
 '2012-03-03T16:00:00': 'Clear',
 '2012-03-04T16:00:00': 'Clear',
 '2012-03-05T16:00:00': 'Clear',
 '2012-03-09T16:00:00': 'Mostly Cloudy',
 '2012-03-10T16:00:00': 'Mostly Cloudy',
 '2012-03-11T16:00:00': 'Mostly Cloudy',
 '2012-03-12T16:00:00': 'Mostly Cloudy',
 '2012-03-14T16:00:00': 'Mostly Cloudy',
 '2012-03-16T16:00:00': 'Clear',
 '2012-03-17T16:00:00': 'Clear',
 '2012-03-18T16:00:00': 'Mostly Cloudy',
 '2012-03-19T16:00:00': 'Partly Cloudy',
 '2012-03-23T16:00:00': 'Clear',
 '2012-03-24T16:00:00': 'Clear',
 '2012-03-25T16:00:00': 'Clear',
 '2012-03-26T16:00:00': 'Clear',
 '2012-03-30T16:00:00': 'Mostly Cloudy',
 '2012-03-31T16:00:00': 'Partly Cloudy',
 '2012-04-01T16:00:00': 'Clear',
 '2012-04-02T16:00:00': 'Mostly Cloudy',
 '2012-04-05T16:00:00': 'Mostly Cloudy',
 '2012-04-07T16:00:00': 'Mostly Cloudy',
 '2012-04-08T16:00:00': 'Clear',
 '2012-04-10T16:00:00': 'Mostly Cloudy',
 '2012-04-11T16:00:00': 'Mostly Cloudy',
 '2012-04-13T16:00:00': 'Partly Cloudy',
 '2012-04-14T16:00:00': 'Clear',
 '2012-04-15T16:00:00': 'Mostly Cloudy',
 '2012-04-16T16:00:00': 'Clear',
 '2012-04-20T16:00:00': 'Mostly Cloudy',
 '2012-04-21T16:00:00': 'Partly Cloudy',
 '2012-04-22T16:00:00': 'Partly Cloudy',
 '2012-04-23T16:00:00': 'Mostly Cloudy',
 '2012-04-28T16:00:00': 'Clear',
 '2012-04-29T16:00:00': 'Clear',
 '2012-05-05T16:00:00': 'Mostly Cloudy',
 '2012-05-06T16:00:00': 'Mostly Cloudy'}

In [73]:
from collections import Counter 

Counter(weather_dates.values())

Counter({'Mostly Cloudy': 62,
         'Clear': 49,
         'Partly Cloudy': 14,
         'Light Rain': 3,
         'Possible Drizzle': 3,
         'Possible Light Rain': 3,
         'Overcast': 2})

In [83]:
cur.execute("""SELECT *
                FROM Matches
                WHERE Season = '2011' AND Div != 'E0' AND HomeTeam = 'Aachen'
                ORDER BY Date ASC;""")

dates = pd.DataFrame(cur.fetchall())

dates.columns = [x[0] for x in cur.description]
dates

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1574,D2,2011,2011-07-24,Aachen,Braunschweig,0,2,A
1,1507,D2,2011,2011-08-13,Aachen,Cottbus,0,2,A
2,1702,D2,2011,2011-08-27,Aachen,Fortuna Dusseldorf,0,0,D
3,1529,D2,2011,2011-09-18,Aachen,Greuther Furth,0,0,D
4,1662,D2,2011,2011-09-30,Aachen,Frankfurt FSV,1,3,A
5,1682,D2,2011,2011-10-23,Aachen,Ingolstadt,3,1,H
6,1148,D2,2011,2011-11-06,Aachen,Duisburg,2,2,D
7,1446,D2,2011,2011-12-04,Aachen,Munich 1860,2,2,D
8,1595,D2,2011,2011-12-11,Aachen,Erzgebirge Aue,1,1,D
9,1465,D2,2011,2012-02-04,Aachen,St Pauli,2,1,H
10,1386,D2,2011,2012-02-19,Aachen,Hansa Rostock,0,0,D
11,1606,D2,2011,2012-03-03,Aachen,Paderborn,0,3,A
12,1557,D2,2011,2012-03-16,Aachen,Union Berlin,1,3,A
13,1138,D2,2011,2012-03-30,Aachen,Dresden,0,1,A
14,1348,D2,2011,2012-04-11,Aachen,Bochum,2,0,H
15,1176,D2,2011,2012-04-23,Aachen,Ein Frankfurt,0,3,A
16,1247,D2,2011,2012-04-29,Aachen,Karlsruhe,1,0,H

In [84]:
cur.execute("""SELECT *
                FROM Matches
                WHERE Season = '2011' AND Div != 'E0' AND AwayTeam = 'Aachen'
                ORDER BY Date ASC;""")

dates = pd.DataFrame(cur.fetchall())

dates.columns = [x[0] for x in cur.description]
dates

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1550,D2,2011,2011-07-16,Erzgebirge Aue,Aachen,1,0,H
1,1545,D2,2011,2011-08-05,St Pauli,Aachen,3,1,H
2,1535,D2,2011,2011-08-19,Hansa Rostock,Aachen,0,0,D
3,1537,D2,2011,2011-09-09,Paderborn,Aachen,0,0,D
4,1543,D2,2011,2011-09-24,Union Berlin,Aachen,2,0,H
5,1539,D2,2011,2011-10-16,Dresden,Aachen,1,1,D
6,1548,D2,2011,2011-10-28,Bochum,Aachen,1,0,H
7,1534,D2,2011,2011-11-20,Ein Frankfurt,Aachen,4,3,H
8,1549,D2,2011,2011-11-26,Karlsruhe,Aachen,0,2,A
9,1541,D2,2011,2011-12-18,Braunschweig,Aachen,1,1,D
10,1542,D2,2011,2012-02-10,Cottbus,Aachen,1,1,D
11,1544,D2,2011,2012-02-27,Fortuna Dusseldorf,Aachen,0,0,D
12,1546,D2,2011,2012-03-09,Greuther Furth,Aachen,1,0,H
13,1536,D2,2011,2012-03-23,Frankfurt FSV,Aachen,2,1,H
14,1547,D2,2011,2012-04-08,Ingolstadt,Aachen,3,3,D
15,1538,D2,2011,2012-04-14,Duisburg,Aachen,2,0,H
16,1540,D2,2011,2012-05-06,Munich 1860,Aachen,1,2,A